@keyframes alert {
    from {
        border-top: 2px solid black;
        transform: scale(0.5);
    }
    40% {
        border-left: 2px solid black;
        transform: scale(1, 1.5);
        background-color: gray;
    }
    to {
        border-bottom: 2px solid black;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    80% {
        transform: scale(1);
    }
    to {
        opacity: 1;
    }
}

.opacity {
    animation-name: opacity;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

._alert {
    animation-name: alert;
    animation-duration: 4s;
    animation-iteration-count: 10;
    /* position: absolute; */
}

.reload {
    cursor: pointer;
}

.img-height {
    height: 40vh;
}

.img-height:hover {
    filter: grayscale(80%);
    transform: scale(1.5, 1.3) rotate(-1deg);
    transition: all 0.5s ease
}

@media screen and (min-width:567px) {
    .opacity_:hover {
        transform: scale(1.6, 1.3);
        z-index: 202;
        transition: all 0.7s ease
    }
}

@media screen and (max-width:992px) {
    .img-height {
        height: 35vh;
    }
    ._abs {
        display: block;
        background-color: gray;
    }
}